.card {
  width: 30em;
  margin: 1em 1em 1em 10em;
}
.card-title {
  font-size: 2rem;
}
.strong {
  color: steelblue;
}
.index-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.window {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding: 0;
  margin: 1em 0 5em 0;
}

.buffer {
  height: 8rem;
}
