html {
  /* background-color: black; */
}
body {
  background-image: url("https://www.gdargaud.net/Photo/1920/BW_Priest.jpg");
  background-repeat: no-repeat;
}
.home-page {
  /* margin: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
