.show-page {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; */
}
.show-comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#comment-container {
  /* position: absolute;
  bottom: 5em;
  left: 0px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
